

.date-picker-header {
    display: flex;
    background-color: #f0f0f0;
    text-align: center;
}

.date-picker-header button {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

.date-picker-calendar {
    border-collapse: collapse;
    margin-top: 10px;
}

.date-picker-calendar td {
    text-align: center;
    padding: 5px;
}

.current-month {
    background-color: #4CAF59;
    color: white;
}

.other-month {
    color: #999;
}

.selectedDate {
    color: black;
}

