.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the container cover the entire viewport height */
    width:500vh;
    background-color: #f8f9fa; /* Set your desired background color here */
  }


.text-center {
    text-align: center;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .text-gradient {
    background-image: linear-gradient(to right, #007bff, #00bfff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  